body {
    background-image: url("https://picsum.photos/id/82/1500/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#header .nav > a, 

#header {
    background-color: #638475;
    color: #c228c2;
    height: 60px;
 }






 a:hover {

 }
 .nav > a {
    color: white;
    text-decoration: none;
 }

 #hero {
    font-size: 20px;
 }

 #hero > h1 {
    font-size: 60px;
 }

 #cta {
    background-color: #638475;
 }  

 #cta:hover {
   background-color: white;
   color:blueviolet
 }

 #services {
   background-color:#5ba383 ;
 }

 .card {
   background-color: white;
   width: fit-content;
 }